<div class="row">
  <div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-xs-12">
    <%= form_for(task) do |f| %>
      <% if task.errors.any? %>
        <div class="alert alert-warning">
          <ul>
            <% task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    	<% end %>
    
      <div class="form-group">
        <div class="togglebutton">
          <label>
            進捗</br>
            <%= f.check_box :status, {}, checked_value = "OK", unchecked_value = "NG" %>
          </label>
        </div>
    	</div>
    	
    	<div class="form-group">
        <%= f.label :content, 'タスク' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>
      
      <%= hidden_field_tag :user_id, current_user.id %>
      
      <%= f.submit '登録', class: 'btn btn-raised btn-primary' %>
    <% end %>
  </div>
</div>