<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
      <div class="panel-body">
        <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 500 }) %>" alt="">
      </div>
    </div>
  </aside>
  <div class="col-xs-8">
    <ul class="nav nav-pills">
      <li class="<%= 'active' if current_page?(user_path(@user)) %>"><%= link_to user_path(@user) do %>OKタスク<% end %></li>
      <li class="<%= 'active' if current_page?(ngs_user_path(@user)) %>"><%= link_to ngs_user_path(@user) do %>NGタスク<% end %></li>
    </ul>
    <ul>
      <% @tasks.each do |task| %>
        <li>
      	  <%= link_to task.id, task %> : 
      	  <%= task.status %> >
      	  <%= task.content %>
        </li>
      <% end %>
    </ul>
  </div>
</div>